:root {
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    sans-serif;
}

.tabler-icon {
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
  display: inline;
  padding: 0.15em;
  border-radius: 4px;

  /* Light mode */
  background: #f3f3f3;
  border: 1px solid #d0d0d0;
  stroke: #222;
}

/* Dark mode override */
.dark .tabler-icon {
  background: #2e2e2e;
  border: 1px solid #424242;
  stroke: #fff;
}
